article {
  width: min-content;
  background-color: ghostwhite;
  padding-bottom: 5px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

article:hover {
  transform: scale(1.03);
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  margin: 6px;
}

h3 {
  font-family: 'Lato', sans-serif;
  margin: 0px 0 0 10px;
  color: grey;
}

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.display-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url('../../Assets/ingredientsbackground.jpg');
  background-size: cover;
}

.name-and-img-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.card-img {
  z-index: 0;
}
