article {
  width: min-content;
  background-color: ghostwhite;
  padding-bottom: 5px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

article:hover {
  transform: scale(1.03);
}

main {
  position: relative;
  top: 80px;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  margin: 6px;
}

h3 {
  font-family: 'Lato', sans-serif;
  margin: 0px 0 0 10px;
  color: grey;
}

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.display-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url('../../Assets/ingredientsbackground.jpg');
  background-size: cover;
  background-attachment: fixed;
  background: rgb(0 0 0 / 1%);
  backdrop-filter: blur(10px);

}

.name-and-img-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.card-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.card-img {
  z-index: 0;
  border-radius: 8px 8px 0 0;
}

.favorite-toggle {
  width: 1.3em;
  height: 1.3em;
  margin: 0 4px;
}

h3 {
  margin: 0px 0 0 10px;
  color: grey;
}
